html{
    margin: 0 0;
    background-color: dimgrey;
}

body{
    box-sizing: border-box;
    margin: auto auto;
    width: 92vw;
    background-color: lightgrey;
}

table{
    white-space: nowrap;
}

.homme{
    border: 3px solid darkblue;
    border-radius: 12px;
}

.femme{
    border: 3px solid pink;
    border-radius: 12px;
}

#aieux{
    width: 100%;
}

.center{
    text-align: center;
}

#symGp{
    margin: 5px 5px;
    max-height: 50px;
}
